<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
  mermaid.initialize({
    startOnLoad: true,
    theme: 'base',
    fontFamily: 'Manrope, system-ui, sans-serif',
    themeVariables: {
      background: '#1D2021',
      primaryColor: '#32302F',
      primaryTextColor: '#FBF1F7',
      primaryBorderColor: '#504945',
      secondaryColor: '#3C3836',
      secondaryTextColor: '#FBF1F7',
      secondaryBorderColor: '#504945',
      tertiaryColor: '#504945',
      tertiaryTextColor: '#FBF1F7',
      tertiaryBorderColor: '#504945',
      lineColor: '#8E868C',
      textColor: '#FBF1F7',
      mainBkg: '#32302F',
      nodeBorder: '#504945',
      clusterBkg: '#3C3836',
      clusterBorder: '#504945',
      titleColor: '#FBF1F7',
      edgeLabelBackground: '#1D2021',
      nodeTextColor: '#FBF1F7',

      /* Sequence diagram */
      actorBkg: '#32302F',
      actorBorder: '#504945',
      actorTextColor: '#FBF1F7',
      actorLineColor: '#8E868C',
      signalColor: '#FBF1F7',
      signalTextColor: '#FBF1F7',
      labelBoxBkgColor: '#32302F',
      labelBoxBorderColor: '#504945',
      labelTextColor: '#FBF1F7',
      loopTextColor: '#C5BDC3',
      noteBkgColor: '#3C3836',
      noteBorderColor: '#504945',
      noteTextColor: '#FBF1F7',
      activationBkgColor: '#504945',
      activationBorderColor: '#504945',
      sequenceNumberColor: '#1D2021',
    },
  });
</script>
