{{ with .Site.GetPage "project" }}
{{ $pages := sort .Pages "Params.date" "desc" }}
<section id="project">
  <h2 class="text-xl md:text-2xl font-bold pb-2">Project</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {{ range first 6 $pages }}
      {{ partial "card/project.html" . }}
    {{ end }}
  </div>
  {{ if gt (len $pages) 6 }}
    <div class="mt-4">
      <a href="{{ .RelPermalink }}" class="flex items-center uppercase">
      {{ partial "icon/angles-right.html" ( dict "class" "h-4 w-8" ) . }}
      <span>Show More</span>
      </a>
    </div>
  {{ end }}
</section>
{{ end }}
