<div class="overflow-hidden text-left border border-dashed border-[#57534E] rounded-sm p-3 bg-[#292524] mb-4 break-inside-avoid">
  <div class="flex flex-col gap-2">
    <div>
      <a href="{{ .RelPermalink }}">
        <h3 class="md:text-lg font-serif font-bold capitalize pb-2 border-b border-dashed">{{ .Title }}</h3>
      </a>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <div class="text-xs text-[#A8A29E] pt-2 flex items-center gap-1">
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        <span>&middot;</span>
        <span>{{ .ReadingTime }} min read</span>
      </div>
      <p class="leading-normal py-2 text-sm">{{ .Params.description }}</p>
    </div>
    {{ with sort (.GetTerms "tags") "LinkTitle" }}
    <div>
      <ul class="flex flex-wrap items-center gap-2">
        {{ range . }}
        <li><a href="{{ .RelPermalink }}" class="text-xs px-2 py-1 rounded-sm bg-[#44403C] text-[#D6D3D1] font-mono uppercase hover:bg-[#57534E] transition-colors">{{ .LinkTitle }}</a></li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</div>
