{{ define "main" }}
  <h2 class="text-xl md:text-2xl font-bold font-serif">{{ .Title }}</h2>
  {{ with .Params.description }}
  <p class="text-gray-600 mt-1">{{ . }}</p>
  {{ end }}

  <div class="flex flex-col gap-6 mt-6">
    {{ range sort .Pages "Params.period_begin" "desc" }}
    <a href="{{ .RelPermalink }}" class="group block p-5 rounded-md border border-gray-200 hover:border-accent hover:bg-accent/5 transition-colors">
      <div class="flex flex-col md:flex-row items-start justify-between">
        <div>
          <div class="flex flex-col md:flex-row items-start md:items-center md:gap-2">
            <h3 class="font-serif font-bold md:text-lg text-black group-hover:text-accent transition-colors">{{ .Title }}</h3>
            <div class="flex items-center gap-2 pt-1 md:pt-0">
              {{ with .Params.workmode }}
              <span class="text-xs px-2 py-0.5 rounded-sm bg-gray-200 font-mono uppercase">{{ . }}</span>
              {{ end }}
              {{ with .Params.worktype }}
              <span class="text-xs px-2 py-0.5 rounded-sm bg-gray-200 font-mono uppercase">{{ . }}</span>
              {{ end }}
            </div>
          </div>
          <span class="text-sm font-mono text-gray-600">{{ .Params.role }}</span>
        </div>
        <span class="text-black font-mono text-sm">{{ .Params.period }}</span>
      </div>
      {{ with .Params.technologies }}
      <ul class="flex flex-wrap items-center pt-3 gap-1.5">
        {{ range . }}
        <li class="text-xs px-2 py-0.5 rounded-sm bg-gray-800 text-gray-100 font-mono">#{{ . }}</li>
        {{ end }}
      </ul>
      {{ end }}
    </a>
    {{ end }}
  </div>
{{ end }}
